<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pemvis.maskerku">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon_maskerku"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_maskerku"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AboutusActivity"
            android:label="@string/about_us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_setting"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileAlamatActivity"
            android:label="@string/title_profil_alamat"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ProfileDataDiriActivity"
            android:label="@string/title_profile_data_diri"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TestimoniActivity"
            android:label="@string/title_testimoni"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateYourMaskActivity"
            android:label="@string/title_create_your_mask"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChooseYourDesignActivity"
            android:label="@string/title_choose_your_design"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_login" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>